<!DOCTYPE html>
<html>
  <head>
    <title>TeachersDasboard</title>
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag 'https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css' %>
  </head>
  <%= render "shared/nav_bar" %>
  <body class="flex flex-col h-screen">
    <%= yield %>
  </body>
  <%= render "shared/footer" %>
  </html>

